* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #282828;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  color: white;
  padding: 3rem;
}

h3 {
  color: white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  select {
    padding: 1rem;
    width: 300px;
    outline: none;
  }
  input {
    padding: 1rem;
    width: 300px;
    outline: none;
    &.small {
      width: 50px;
    }
  }

  .flex-item {
    flex: 50%;
  }
  button {
    padding: 1rem;
    margin: 0rem 1rem;
    border: 1px solid transparent;
    cursor: pointer;
    color: white;
    background: #23d997;
    transition: all 0.3s ease-in-out;
    outline: none;
    &:hover {
      border: 1px solid #23d997;
      background: transparent;
    }
  }
}
